body {
  font-size: 16px;
  max-width: 80em;
  margin: 3em;
}

h1, h2, th {
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3, th {
  font-size: 1.3em;
}

td {
  vertical-align: top;
}

td > ul {
  list-style-type: none;
}

th {
  padding-top: 2em;
  padding-bottom: 2em;
}

td span:hover {
  background-color: lightgrey;
}